    #previewBox {
        background-color: black;
        width: 150px;
        height: 50px;
        border: 5px solid black;
        border-radius: 10px;
    }

    #redCell,
    #greenCell,
    #blueCell {
        text-align: center;
    }

    .slider {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);

        appearance: none;
        -webkit-appearance: none;
        width: 100%;
        height: 10px;
        border-radius: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    #redRange::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15.5px;
        border: 0;
        background: url('Thumbs/Thumb_Red.png');
        cursor: pointer;
    }

    #redRange::-moz-range-thumb {
        width: 15px;
        height: 15.5px;
        border: 0;
        background: url('Thumbs/Thumb_Red.png');
        cursor: pointer;
    }

    #greenRange::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15.5px;
        border: 0;
        background: url('Thumbs/Thumb_Green.png');
        cursor: pointer;
    }

    #greenRange::-moz-range-thumb {
        width: 15px;
        height: 15.5px;
        border: 0;
        background: url('Thumbs/Thumb_Green.png');
        cursor: pointer;
    }

    #blueRange::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15.5px;
        border: 0;
        background: url('Thumbs/Thumb_Blue.png');
        cursor: pointer;
    }

    #blueRange::-moz-range-thumb {
        width: 15px;
        height: 15.5px;
        border: 0;
        background: url('Thumbs/Thumb_Blue.png');
        cursor: pointer;
    }